.step{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.count{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
}

.main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
}